/* General Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header,
footer {

    background-color: #003366;
    color: white;
    padding: 1rem;
    text-align: center;

}

footer {
    margin-top: auto;
    background-color: #f0f0f0;
    color: #000;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 25%;
}

.container2 {
    /* display: flex; */
    align-items: center;
    padding: 20px;
    margin: 20% 20% 0% 20%;
}

.container3 {
    /* display: flex; */
    align-items: center;
    padding: 20px;
    margin: 20% 20% 0% 20%;
}

.container4 {
    /* display: flex; */
    align-items: center;
    padding: 20px;
    margin: 20% 20% 0% 20%;
}

.container5 {
    /* display: flex; */
    align-items: center;
    padding: 20px;
    margin: 20% 20% 0% 20%;
}

html {
    scroll-behavior: smooth;
}


.profile-pic {
    flex: 1;
    max-width: 200px;
    text-align: center;
}

.profile-pic img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid transparent;
}

.profile-pic h1,
.profile-pic h2,
.profile-pic h3 {
    margin: 0;
}

.description {
    flex: 2;
    margin-left: 20px;
    font-size: 20px;
}

.about_description, 
.research_description,
.outreach_description,
.contact_description {
    font-size: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
}

/* Navigation */
.nav-header {
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    margin: 0 5px;
}
/* 
nav ul li a {
    color: #000;
    text-decoration: none;
} */

nav ul li a {
    color: #ffffff;
    /* Make header text always white */
    text-decoration: none;
}

nav ul li a:hover {
    color: #cccccc;
    /* Optional: A lighter shade for hover effect */
}


/* Lists */
.lists {
    display: flex;
    justify-content: space-between;
    margin: 20px 25%;
    gap: 20px;
}

.lists ul {
    list-style-type: none;
    padding: 0;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode header,
body.dark-mode footer,
body.dark-mode .profile-pic,
body.dark-mode .description {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .profile-pic img {
    border-color: #ffffff;
}

body.dark-mode .social-icons a,
body.dark-mode nav ul li a {
    color: #ffffff;
}

/* Dark Mode Toggle Button */
#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s ease;
}

body.dark-mode #dark-mode-toggle {
    color: #ffffff;
}

#dark-mode-toggle:hover {
    color: #007bff;
}

.publications-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    padding: 20px;
    overflow: hidden;
    width: 90%;
    margin: 20 auto;
}

.publication {
    border: 2px solid #000000;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    text-align: center;
}

/* .publication .author-info {
    
} */

.publication img {
    width: 100%;
    max-height: 150px;
    margin: 10px auto;
    display: block;
    object-fit: contain;
    height: auto;
}

.publication .category {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 5px 0px 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
}

.category.md {
    background-color: #007bff;
    /* Blue for MD */
}

.category.ai {
    background-color: #28a745;
    /* Green for AI */
}

.category.experiment {
    background-color: #ffc107;
    /* Yellow for Experiments */
}


.embed-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   gap: 20px;
}

.embed-container blockquote,
.embed-container iframe {
   flex: 1 1 50%; /* Allows both elements to take up equal space */
   max-width: 500px;
}

.embed-container iframe {
   height: 720px;
}

