# Secrets
.env
.env.*
!.env.example

# Node
node_modules
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
*.swp
.idea
.vscode/*
!.vscode/extensions.json
scripts/manim_anim/media
*.sh
scripts/manim_anim/__pycache__
