---
import Base from '@/layouts/Base.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Base title="Blog" description="My personal blog">
	<section>
		<h1 class="text-3xl font-serif font-bold tracking-tight mb-8">Blog</h1>
		<ul class="space-y-4">
			{
				posts.map((post) => (
					<li class="card p-5">
						<a href={`/blog/${post.slug}/`}>
                            <h2 class="text-xl font-bold hover:underline mb-1">{post.data.title}</h2>
							<p class="date text-gray-500 text-sm mb-2">
								<time datetime={post.data.pubDate.toISOString()}>
									{post.data.pubDate.toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}
								</time>
							</p>
                            <p>{post.data.description}</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Base>
